
.mails_tab .tabs {  
  display: flex;  
  padding: 10px;
}
.mails_tab .tab {  
  background: white;
  border-radius: 5px;
  margin: 5px 29px; 
  padding: .7em 2em;  
  border: none;
}

.mails_tab button {
  font-size: 15px;
  cursor: pointer;
}

.mails_tab .tab.active {
  background: #0048ba;
  font-weight: bold;
  color: white;
}
.panel {
  display: none;
  padding: 10px;
}
.panel.active {
  display: block;
}


