.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 15px;
}

.inner {
  margin-right: 60px;
  display: flex;
  flex-direction: row;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  text-align: center;
}

tr:nth-child(even) {
  background-color: white
}

.btn {
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  padding: 9px 20px;
  background-color: white;
}

.inputbox {
  width: 250px;
  height: 20px;
  border-radius: 15px;
  border: 0.5px solid rgb(158, 157, 157);
  padding: 3px;
  padding-left: 10px;
}

.repltbtn {
  padding: 2px 8px;
  margin-left: 3px;
  border: none;
  background-color: white;
  margin-top: 8px;
  cursor: pointer;
}

.repltbtnpdf{
  padding: 2px 15px;
  margin-left: 3px;
  border: none;
  background-color: white;
  margin-top: 30px;
  cursor: pointer;
}
.inputboxpdf {
  width: 600px;
  height: 25px;
  border-radius: 5px;
  margin-left: 60px;
  border: 3px solid rgb(186, 184, 184);
}


img {
  width:30px;
  height: 30px;
}

.reportpartpdf{
  margin-top: 20px;
}

.reportpart{
  margin-top: 10px;
}
.pdfbtn
{
  text-decoration: none;
  border: 2px solid rgb(147, 146, 146);
  border-radius: 5px;
  padding: 6px 18px;
  font-weight: bold;
  color: black;
}
.pdfbtn1
{
  text-decoration: none;
  border: 2px solid rgb(147, 146, 146);
  border-radius: 5px;
  padding: 6px 18px;
  font-weight: bold;
  color:white;
  background-color:#0048ba;
border: none;
}

.pdfbtn:hover
{
  color:white;
  background-color: rgb(74, 74, 223);
}

.position{
  position: absolute;
  margin-top: -1025px;
  margin-left: 270px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #64b450;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip; */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* reset tooltip */


.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 120px;
  background-color: rgb(42, 132, 24);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;


  /* Position the tooltip; */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;

}



/* reset style */

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  cursor: pointer;

}

.progressBg {
  fill: none;
  stroke: white;
  stroke-width: 16;
  stroke-linecap: round;
}

.progressBar {
  fill: none;
  stroke: #0048ba;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 0 100;
  transform: rotate(20deg);
  transform-origin: center;
  animation: progress 10s linear forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 100 100;
  }

  100% {
    stroke-dasharray: 0 100;
  }
}

.cancelButton {
  position: absolute;
  width: 13px;
  height: 13px;

}


svg {
  width: 25px;
  height: 25px;
}

.progress-bg,
.progress-bar {
  stroke-width: 20;
}



/* search */

.searchInputStyle {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 15px;
  height: 30px;
  align-items: center;

}

.inputStyles {}

.input {
  background-color: rgb(250, 249, 249);
  border: 0.5px solid rgb(238, 230, 230);

}

.searchField {
  background-color: white;
  border: 0.5px solid rgb(238, 230, 230);

}
.searchField:hover{
  background-color: #0048ba;
}
.searchBtn {
  width: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}