.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;

}

.inner {
  /* padding: 5px 30px; */
  display: flex;
  flex-direction: row;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  /* padding: 5px; */
  text-align: center;
}

tr:nth-child(even) {
  background-color: white
}

.btn {
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  padding: 9px 20px;
  background-color: white;

}

.reportpart{
  margin-top: -10px;

}
.reportpart1{
  margin-top : 30px;
}
.inputbox{
  width: 190px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid gray;
}
.repltbtn{
  padding: 5px 15px;
  margin-top: 2px;
  margin-left: 3px;
  
}
