.pDiv {
    height: 100%;
    max-width: 100%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    background-color: white;
    border: 2px solid rgb(224, 222, 222);
}

.pHeader {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.pHName {
    display: flex;
    margin-bottom: 15px;
}

.pHName img {
    margin-top: 20px;
}

.pPhoto {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 7px;
}


.pIcon {
    height: 13px;
    width: 13px;
    color: #0248ba;
}

.pMain {
    height: 67%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(224, 177, 177); */
}

.pMain img {
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 0px;
}

.pFooter {

    display: flex;

    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgb(210, 210, 210);
    height: 80px;


}

.emojiIcon {
    width: 40%;
    height: 0%;
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.emoji p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}


.emoji img {
    
    margin-top: -8px;
}


.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td {
    padding: 5px;
    border: 1px solid #dddddd;
}

.pinset{
    margin: 10px;
    
}
.pinset:focus {
    background-color: ivory;
}

   

